@import "tailwindcss";

:root {
  font-family: "JetBrains Mono", monospace;
  width: 100%;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  width: 100%;
  padding-bottom: 8px;
  padding-left: 8px;
  background: none;
  display: flex;
  align-items: center;
}

#root {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
